.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  
    .header-icon {
      width: 20rem;
      max-width: 50%;

      a {
        img {
          width: 100%;
          height: auto;
          display: block;
         }
      }
    }

    @media (max-width: 640px) {
      h1 {
        display: none;
      }
      h2 {
        font-size: 1.25rem;
      }
    }
  }