.game-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: hsl(145, 86%, 36%);
    border-radius: 100%;
    transition: 0.5s;

    & > * {
        width: 80%;
    }

    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }

    @media (max-width: 640px) {
        width: 4rem;
        height: 4rem;
    }
}