.score-board {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 640px) {
        justify-content: left;

        .score-text {
            font-size: 1rem;
        }
    }
}